.profile {
    margin: 0 auto;
    width: 25rem;
    text-align: center;
}

.profile__github {
    padding: 0.3rem;
}

.profile__github--avatar {
    border-radius: 50%;
    max-width: 10rem;
}

.profile__github--username {
    font-size: larger;
}

.profile__github--email {
    font-size: smaller;
}

.btn--logout {
    position: absolute;
    top: 0.5rem;
    right: 0.5rem;
}

.btn--link {
    background: none!important;
    border: none;
    padding: 0!important;
    color: #069;
    text-decoration: underline;
    cursor: pointer;
}

.btn--link:hover {
    color: rgb(26, 157, 223);
}